div.sketchpad {
    width: min(960px, 90vh, 90vw);
    height: min(960px, 90vh, 90vw);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 0;
    /*Only allow 2 finger zoom in sketch board*/
    touch-action:pinch-zoom;
}

div.grid-row, div.grid-cell {
    flex: auto;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.grid-cell {
    box-sizing: border-box;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.slide-container {
    display: flex;
}

.slide-container .grid-size-txt {
    display: flex;
    width: 5rem;
    border: 2px solid;
}

.slide-container .grid-size, .slide-container .grid-col-size{
    flex: auto;
    width: 100%;
    border: 0px;
}

.slide-container .grid-col-size {
    background-color: rgb(228, 228, 228);
    text-align: end;
}

.slide-container .grid-size {
    padding-block: 1px;
    padding-inline: 2px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-radius: 5px;
}

div.tools-container {
    width: min(960px, 90vh, 90vw);
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    padding: 0,5rem 1rem;
}

div.tools-container img{
    height: 80%;
}

.color-select {
    width: 4rem;
    height: 80%;
    /*https://stackoverflow.com/a/63859111*/
    -webkit-mask:url(media/color-picker.png) center/contain no-repeat;
    mask:url(media/color-picker.png) center/contain no-repeat;
    background-blend-mode: darken;
    background-image: url(media/color-picker.png);
    background-color: black;
}

.tool {
    cursor: pointer;
}

.tool:hover {
    height: 100%;
}