body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url(media/wave.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    background-color: rgba(68, 182, 15, 0.5);
    margin: 0;
    padding: 0;
    min-height: 100vh;

    /*Not allowing selection as while drawing things get selected*/
    /* https://stackoverflow.com/a/4407335 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0;
    background-color: inherit;
    box-shadow: 0 2px 4px 4px rgba(128, 128, 128, 0.075);
    backdrop-filter: blur(5px);
    width: 100vw;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Pixelify Sans', cursive;
    margin-bottom: 2px;
    color: white;
}

main {
    flex: 1;
    display: flex;
}

div.sketchpad-container {
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    overflow: hidden;
    background-color: rgba(59, 128, 124, 0.5);
    align-self: center;
}


div.sketchpad {
    width: min(960px, 80vh, 90vw);
    height: min(960px, 80vh, 90vw);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 0;
    /*Only allow 2 finger zoom in sketch board*/
    touch-action:pinch-zoom;
    background-color: white;
    cursor: crosshair;
}

div.grid-row, div.grid-cell {
    flex: auto;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.sketch-pad-with-grid:not(.dark-bg) div.grid-cell {
    box-sizing: border-box;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

div.sketch-pad-with-grid.dark-bg div.grid-cell {
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

div.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#grid-lines-checkbox {
    cursor: pointer;
}
.slide-container {
    display: flex;
}

.slide-container .grid-size-txt {
    display: flex;
    width: 5rem;
    border: 2px solid;
    border-radius: 5px;
    overflow: hidden;
}

.slide-container .grid-size, .slide-container .grid-col-size{
    flex: auto;
    width: 100%;
    border: 0px;
}

.slide-container .grid-col-size {
    background-color: rgb(228, 228, 228);
    text-align: end;
}

.slide-container .grid-size {
    padding-block: 1px;
    padding-inline: 2px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-radius: 5px;
}

div.tools-container {
    width: min(960px, 80vh, 90vw);
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
}

div.tools-container > *{
    height: 80%;
}

.color-select {
    width: 3.5rem;
    height: 80%;
    /*https://stackoverflow.com/a/63859111*/
    -webkit-mask:url(media/color-picker.svg) center/contain no-repeat;
    mask:url(media/color-picker.svg) center/contain no-repeat;
    background-blend-mode: darken;
    background-image: url(media/color-picker.svg);
    background-color: black;
}

.tool {
    cursor: pointer;
}

.tool:hover {
    height: 100%;
}